<!-- WORK -->

<div class="work">
  <div class="work-text">
    <h2 class="text-uppercase">Work</h2>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="work-box">
        <div class="editorials-section odd">
          <a ui-sref="editorial">
            <h4 class="text-uppercase white text-same">Editorials</h4>
            <img src="img/home/editorials.jpg" alt="Editorials" class="img-responsive" />
          </a>
        </div>
        <div class="celebrities-section even">
          <a ui-sref="celebrities">
            <img src="img/home/celebrities.jpg" alt="Celebrities" class="img-responsive" />
            <h4 class="text-uppercase white text-same">Celebrities</h4>
          </a>
        </div>
        <div class="tvc-section odd">
          <a ui-sref="tvc">
            <h4 class="text-uppercase white text-same">TVC's</h4>
            <img src="img/home/tvc.jpg" alt="TVC's" class="img-responsive" />
          </a>
        </div>
        <div class="designers-section even">
          <a ui-sref="designers">
            <img src="img/home/designers.jpg" alt="Designers" class="img-responsive" />
            <h4 class="text-uppercase white text-same">Designers</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
