<!-- WORK -->

<div class="work">
  <div class="work-text">
    <h2 class="text-uppercase">Work</h2>
  </div>

  <div class="container-fluid">
    <div class="row">

      <div class="editorials-section">
        <h4 class="text-uppercase">Editorials</h4>
        <img src="" alt="Editorials" class="img-responsive" />
      </div>
      <div class="celebrities-section">
        <img src="" alt="Celebrities" class="img-responsive" />
        <h4 class="text-uppercase">Celebrities</h4>
      </div>
      <div class="tvc-section">
        <h4 class="text-uppercase">TVC's</h4>
        <img src="" alt="TVC's" class="img-responsive" />
      </div>
      <div class="designers-section">
        <img src="" alt="Designers" class="img-responsive" />
        <h4 class="text-uppercase">Designers</h4>
      </div>

    </div>
  </div>
</div>
