<!-- ABOUT US -->

<div class="about">
  <div class="container">
    <div class="row">

      <div class="col-sm-offset-1 col-sm-4">
        <div class="about-image">
          <img src="img/home/about_image.jpg" alt="About Image" class="img-responsive" />
        </div>
      </div>

      <div class="col-sm-6">
        <h2 class="text-uppercase white">About</h2>
        <div class="about-description">
          <p class="text-color">Born in Paris, Florian started his career in beauty at the age of 16 working under the world renowned hair stylists, Laurent Decreton and George Manuel. In his first year of training, Florian received a French Government award, for the highest achiever, beating over 15,000 other hair styling students in France.
     </p>
          <p class="text-color">A hair and make-up professional with over 12 years of experience, Florian Hurel’s career has taken him all over the world. Having moved to Mumbai in 2015, he’s built an enviable reputation in a very short period of time based on his unrivaled international experience. He has lent his expertise everywhere, from the Cannes Film Festival to Roland Garros and regularly works at Paris Fashion Week for designers such as Chanel and Louis Vuitton.</p>
          <p class="text-color">Over the course of Florian’s career, he has shot editorials for the likes of Vogue, Grazia, Elle and numerous Europe-Specific titles. He has also worked on the December 2009 Vogue Russia Cover  featuring the iconic Claudia Schiffer.</p>
          <p class="text-color">Florian’s regular Bollywood clients include Sonakshi Sinha, Nargis Fakhri, Athiya Shetty, Sidharth Malhotra, Lisa Haydon, Kriti Sanon, and Yami Gautam. Florian most recently started working with Jacqueline Fernandez and was featured on an episode of India’s Next Top Model. Florian is currently part of the L’Oreal Professional Dream Team in India.</p>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>
