<!-- WORK -->

<div class="work">
  <div class="work-text">
    <h2 class="text-uppercase">Work</h2>
  </div>

  <div class="container-fluid">
    <div class="row">

      <div class="editorials-section">
        <h4 class="text-uppercase white">Editorials</h4>
        <img src="../img/home/editorials.jpg" alt="Editorials" class="img-responsive" />
      </div>
      <div class="celebrities-section">
        <img src="../img/home/celebrities.jpg" alt="Celebrities" class="img-responsive" />
        <h4 class="text-uppercase white">Celebrities</h4>
      </div>
      <div class="tvc-section">
        <h4 class="text-uppercase white">TVC's</h4>
        <img src="../img/home/tvc.jpg" alt="TVC's" class="img-responsive" />
      </div>
      <div class="designers-section">
        <img src="../img/home/designers.jpg" alt="Designers" class="img-responsive" />
        <h4 class="text-uppercase white">Designers</h4>
      </div>

    </div>
  </div>
</div>
