<!-- ABOUT US -->

<div class="about">
  <div class="container">
    <div class="row">

      <div class="col-sm-offset-1 col-sm-4">
        <div class="about-image">
          <img src="" alt="About Image" class="img-responsive" />
        </div>
      </div>

      <div class="col-sm-6">
        <h2 class="text-uppercase">About</h2>
        <p>A hair and make-up pro with over 12 years of experience, Florian Hurel’s scissors and brushes have taken him from the Cannes Film Festival to Roland Garros and the Louis Vuitton women’s show to Bollywood actress Sonakshi Sinha’s tresses.</p>
        <p>Born in Paris, Florian’s always had a proclivity for high fashion and made his way into the glamorous industry initially by working his magic on hair. His first job came at the age of 15 where he worked at a local salon to learn his nuts and bolts. By 16, he was apprenticing at French hairstyling house Dessange – where he currently holds the position of Artistic Director.</p>
        <p>In his meaty career, Florian’s done cover shoots for Vogue and ELLE in Russia; managed Dessange in Cyprus; and styled celebrities in Moldova. Yet, one of his most fruitful endeavours remain training new staffers across the globe.</p>
        <p>Currently, Florian’s lending his expertise to hairstylists at Dessange in India and working across the board on everyone from Bollywood celebrities like Nargis Fakhri and Sidharth Malhotra to television commercials. In the rarity that he gets time off, you’ll find him getting inked or indulging in some serious adventure sports.</p>
      </div>

      </div>
    </div>
  </div>
</div>
