@media screen and (max-width: 1200px) {
  // @mixin background($url, $size: 100%) {
  //   background-position: 50% 50%;
  // }
  .home {
    .one,
    .two,
    .three,
    .four,
    .five {
      background-position: 50% 50%;
    }
  }
  .home {
    .about {
      h2 {
        margin-top: 57px;
        font-size: 150px;
      }
    }
    .about-image {
      margin-top: 70px;
    }
  }
}

@media (max-width: $screen-sm-max) {}

@media (max-width: $screen-xs-max) {
  .home {
    .contact-details {
      padding: 10px;
      margin-bottom: 10px;
      h4 {
        position: relative;
        font-size: 50px;
        letter-spacing: 8px;
        margin-top: 110px;
      }
    }
    .contact-form {
      padding: 10px;
    }
    .contact-form .form-group.form-inline {
      height: 30px;
    }
    .form-group {
      margin-bottom: 10px;
    }
    .contact-form input.form-control {
      width: 80%;
      height: 19px;
    }
    .contact-forms textarea {
      height: 80px;
      resize: none;
    }
    .about h2 {
      position: relative;
      left: 0;
      font-size: 50px;
      letter-spacing: 3px;
      margin: 0;
    }
    .contact-form label {
      font-size: 11px;
    }
    .about-image {
      margin-top: 70px;
      width: 100px;
    }
    .about-description {
      margin-top: 10px !important;
      p {
        font-size: 10px!important;
      }
    }
  }
  .close-right {
    left: 30px;
    img {
      width: 20px;
    }
  }
  .menu-made ul li a {
    font-size: 36px;
  }
  a.menu-logo.text-center img {
    height: 40px;
  }
  .head-text h2 {
    margin: 10px 0 -15px;
    font-size: 60px;
    letter-spacing: 5px;
  }
  .link-made {
    padding-top: 20px;
  }
  ul.links {
    li {
      display: block;
    }
  }
  .link-made a {
    padding-right: 0;
  }
  .masonry-brick{
    padding-left: 20px;
    padding-right: 20px;
  }
  .navs{
    .log{
    width: 200px;
    margin: 0 auto;
    display: block;
    float: none!important;
    }
    ul{
          float: none!important;
    }
  }

  .img-video{
      margin-left: 0px;
}
.pt80{
  padding-top: 0;
}
}

@media (max-width: 480px) {
  .home .contact-forms textarea {
    height: 70px;
  }
  //   .home .contact-forms {
  //     margin-top: -20px;
  // }
  .home .contact-details p a {
    font-size: 16px;
  }
  .home .contact-details h4 {
    font-size: 50px;
    letter-spacing: 8px;
    margin-top: 10px;
    line-height: 90%;
  }
  .home .contact-details {
    padding: 0 10px;
    margin-bottom: 0px;
  }
  .home .contact-form {
    padding: 0px 10px;
    margin-top: 0px;
  }
  .home .about h2 {
    font-size: 30px;
    letter-spacing: 1px;
  }
  .home .about-image {
    margin-top: 90px;
    width: 80px;
  }
  .menu-made ul li a {
    font-size: 30px;
    letter-spacing: 1px;
  }
  .header .nav a img {
    height: 35px;
  }
  .header {
    top: 10px;
  }
  .home .about h2 {
    font-size: 30px;
    letter-spacing: 2px;
  }
  .home .about-image {
    margin-top: 90px;
    width: 80px;
  }
  .home .about .about-description p {
    margin-bottom: 5px;
  }
  .home .about-description {
    margin-top: 5px !important;
  }
  .navbar {
    min-height: 40px;
  }
  .navbar img {
    height: 35px;
  }
  .designer-option select {
    width: 200px;
    height: 30px;
  }
  .all-slider .flexslider {
    margin: 10px 0 5px;
  }
  .all-slider {
    padding: 18px 30px 0 25px;
  }
  .link-made a,
  .link-made li {
    font-size: 16px;
  }
}