@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;

$brand-lighter-gray: #e1e1e1 !default; //contact text
$brand-light-gray: #d5d5d5 !default; // about background
$brand-hamburger-gray: #b4b4b4 !default; // hamburger
$brand-gray: #c4c4c4 !default; // landing hurel
$brand-dark-gray: #151515 !default; //work background

$brand-text-color: #262626 !default; //about description
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
body {}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
a, .btn {
  cursor: pointer;
  @include transition(all ease 300ms);
}

//color classes
.white { color: white; }
.black { color: black; }
.lighter-gray { color: $brand-lighter-gray; }
.gray { color: $brand-gray; }
.text-color { color: $brand-text-color; }

.white-bg { background-color: white; }
.black-bg { background-color: black; }
.light-gray-bg { background-color: $brand-light-gray; }
.dark-gray-bg { background-color: $brand-dark-gray; }

//bootstrap forms
.input-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.btn,
.form-control {
  border-radius: 0;
  @include box-shadow(none);
}
.form-control:focus {
  border-color: $brand-primary;
  outline: 0;
  @include box-shadow(none);
}
//bootstrap forms
/* Start writing sass here */
@import "fancybox-override";

// background mixin
@mixin background($url, $size: cover) {
  background-image: url($url);
  background-size: $size;
  background-position: center;
}

.section-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home {
  .one, .two, .three, .four, .five, .six, .seven, .eight {
    width: 100%;
    height: 1080px;
    position: relative;
  }
  .one { @include background('../img/home/01.jpg'); } // landing
  .two { @include background('../img/home/02.jpg'); } // editorials
  .three { @include background('../img/home/03.jpg'); } // tvc
  .four { @include background('../img/home/04.jpg'); } // celebrities
  .five { @include background('../img/home/05.jpg'); } // designers
  .six {} // about
  .seven {} // work
  .eight {} // contact

  .landing {
    .mouse-image {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translate(-50%, 0%);
    }
  }

  .about {
    @extend .section-center;
  }
}
