<section class="editorial pt80">
  <div class="container">
    <div class="head-text">
      <h2 class="text-uppercase">Designers</h2>
    </div>
    <div class="designer-option text-right">
      <select class="text-uppercas" ng-model="designName" ng-change="getDesigns(designName)" name="designers">
        <!-- <option value="all" selected>Designers</option> -->
        <option ng-repeat="data in allDesigners" value="{{data.name}}">{{data.name}}</option>
        <!-- <option value="angeinx">AngeINX</option> -->
      </select>
    </div>
    <div class="all-slider">
      <flex-slider ng-if="des.designs.length>0" flex-slide="designer in des.designs track by $index" item-width="250" item-margin="20" animation="slide" animation-loop="false" slideshow="false" prev-text="" next-text="">
        <li class="">
          <div class="slider-items">
            <div class="mb15">
                <a href="{{designer.image|uploadpath}}" fancybox-box rel="gallery1">
              <img ng-src="{{designer.image|uploadpath}}" alt="" class="img-responsive">
            </a>
            </div>
          </div>
        </li>
      </flex-slider>
    </div>
    <div class="link-made">
      <ul class="links list-inline">
        <li>Also View : </li>
        <li><a ui-sref="editorial" class="uppercase">Editorials</a></li>
        <li><a ui-sref="celebrities" class="uppercase">Celebirties</a></li>
        <li><a ui-sref="tvc" class="uppercase">TVC's</a></li>
      </ul>
    </div>
  </div>
</section>
