<section class="editorial">
  <div class="editorial-text">
    <h2 class="text-uppercase">Editorials</h2>
  </div>
  <div class="slider-all">
    <flex-slider flex-slide="slide in wall track by $index" ng-if="styleActives == 'actives'" animation="slide" animation-loop="false" slideshow="false" item-margin="20" prev-text="" next-text="">
      <li class="">
        <div class="row" ng-repeat="row in slide">
          <div class="col-xs-4" ng-repeat="wallpaper in row">
            <div class="mb15">
              <img ng-src="{{wallpaper.img}}" alt="" class="img-responsive">
            </div>
          </div>
        </div>
      </li>
    </flex-slider>
  </div>
</section>
