<div class="video-images pt80">
   <div class="container">
      <div class="artist-info pt50">
         <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
               <p class="text-justify">
                    Born in Paris, Florian started his career in beauty at the age of 16 working under the world renowned hair stylists, Laurent Decreton and George Manuel. In his first year of training, Florian received a French Government award, for the highest achiever, beating over 15,000 other hair styling students in France.
               </p>
            </div>
            <div class="col-md-4 ">
               <p class="text-justify">
                 A hair and make-up professional with over 12 years of experience, Florian Hurel’s career has taken him all over the world. Having moved to Mumbai in 2015, he’s built an enviable reputation in a very short period of time based on his unrivaled international experience. He has lent his expertise everywhere, from the Cannes Film Festival to Roland Garros and regularly works at Paris Fashion Week for designers such as Chanel and Louis Vuitton.
               </p>
               <span class="pointer pull-right uppercases"><a ui-sref="aboutus" target="_blank" >Know More</a></span>
               <div class="clearfix"></div>
            </div>
            <div class="col-md-2"></div>
         </div>
      </div>
      <div class="img-video">
        <div class="row ">
          <div class="col-md-3 rowpad" ng-repeat="brick in bricks">
 <div class="mason" >
   <a  href="{{brick.img}}"   class="fancybox-thumb" rel="fancybox-thumb">
                       <img ng-src="{{brick.img}}"  alt="A masonry brick">
                       </a> 
        </div>
          </div>
        </div>
       
        
         <!--<div class="all-movies masonry-width">
                                <div masonry>
    <div class="masonry-brick" ng-repeat="brick in bricks">
           <div class="masonry-box">
                                        
                                      for image 
                     <a ng-if="brick.img" href="{{brick.img}}"   class="fancybox-thumb" rel="fancybox-thumb">
                       <img ng-src="{{brick.img}}"  alt="A masonry brick">
                       </a> 
                        for image 


                        for video 
                       <a ng-if="brick.link" href="{{brick.link}}"  class="fancybox-thumb" rel="fancybox-thumb"  data-fancybox-type="iframe" >
                        <span ng-src="{{brick.link}}" >
                        <span class="get-center youtube-play"><i class="fa fa-play"></i></span>
                     </a> 
                       for video 
                                            
                                          
                                            </div>
                     </div>
                   </div>
            </div>-->
         </div>
      </div>
   </div>
</div>
	<!--<a class="fancybox-thumb " data-fancybox-type="iframe" rel="fancybox-thumb" fancybox-box  ng-if ="{{brick.link}}" href="{{brick.link}}"><img ng-src="{{brick.img}}" alt="A masonry brick"></a>
                                              	<a class="fancybox-thumb " data-fancybox-type="image" rel="fancybox-thumb" fancybox-box  href="{{brick.link}}"><img ng-src="{{brick.img}}" alt="A masonry brick"></a>-->
