<div class="video-images pt80">
    <div class="container">
        <div class="artist-info pt50">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <p class="text-justify">
A hair and make-up pro with over 12 years of experience, Florian Hurel’s scissors and brushes have taken him from the Cannes Film Festival to Roland Garros and the Louis Vuitton women’s show to Bollywood actress Sonakshi Sinha’s tresses.
                    </p>
                </div>
                <div class="col-md-4 ">
  <p class="text-justify">
Born in Paris, Florian’s always had a proclivity for high fashion and made his way into the glamorous industry initially by working his magic on hair. His first job came at the age of 15 where he worked at a local salon to learn his nuts and bolts. By 16, he was  apprenticing...
  </p>
  <span class="pointer pull-right uppercases">Know More</span>
  <div class="clearfix"></div>
                </div>
                  <div class="col-md-2"></div>
            </div>
        </div>
        <div class="img-video">
                  <div class="all-movies masonry-width">
                                    <!--<div masonry class="margin-auto">
                                        <div class="masonry-brick" >
                                            ng-repeat="item in MovieGal track by $index" ng-show="item.image!='' || item.image"  {{item.image|uploadpath2}}   {{item.image|uploadpath:400}}
                                            <div class="masonry-box">
                                                <a href="" class="fancybox-thumb" rel="fancybox-thumb"> <img src="img/homenew/athiya.jpg" alt="Dharma Production"></a>
                                            </div>
                                        </div>
                                       
                                       
                                        
                                    </div>-->
                                    <div masonry>
    <div class="masonry-brick" ng-repeat="brick in bricks">
           <div class="masonry-box">
                                                <a href="" class="fancybox-thumb" rel="fancybox-thumb"> <img ng-src="{{ brick.img }}" alt="A masonry brick"></a>
                                            </div>
        
    </div>
</div>
                                </div>
        </div>
    </div>
</div>
