<section class="editorial pt80">
  <div class="container">
    <div class="head-text">
      <h2 class="text-uppercase">TVC'S</h2>
    </div>
    <div class="all-slider">
      <flex-slider flex-slide="tvc in tvcs track by $index" item-width="250" item-margin="20" animation="slide" animation-loop="false" slideshow="false" prev-text="" next-text="">
        <li class="">
          <div class="slider-items">
            <div class="mb15">
              <a href="{{tvc.link}}" fancybox-box class="fancybox.iframe" rel="gallery1">
                <img ng-src="{{tvc.link | youtubethumb:false}}" alt="" class="youtube-img img-responsive">
                <span class="get-center youtube-play"><i class="fa fa-play"></i></span>
              </a>
            </div>
          </div>
        </li>
      </flex-slider>
    </div>
    <div class="link-made">
      <ul class="links list-inline">
        <li>Also View : </li>
        <li><a ui-sref="editorial" class="uppercase">Editorials</a></li>
          <li><a ui-sref="celebrities" class="uppercase">Celebirties</a></li>
        <li><a ui-sref="designers" class="uppercase">Designers</a></li>
      </ul>
    </div>
  </div>
</section>
