<!--<header ng-controller="headerctrl">
  <div class="container">
    <nav class="nav  clearfix">
      <div class="navbar-toggle humburger">
        <button type="button" class="navbar collapsed " ng-click="getnav();">
           <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar {{onebar}}"></span>
          <span class="icon-bar {{secondbar}}"></span>
          <span class="icon-bar {{thirdbar}}"></span>
        </button>
      </div>
      <a class="pull-left" ui-sref="home">
       <img src="img/homenew/logos.png" alt="">
      </a>
    </nav>
  </div>
  <div class="sidemenu {{getslide}}">
    <div class="collapse navbar-collapse" id="nav-collapse">
      <ul class="list-inline pull-right">
          <li>
<a href="" class="uppercases">work</a>
          </li>
          <li>
<a href=""  class="uppercases">about us</a>
          </li>
          <li>
<a href=""  class="uppercases">contact</a>
          </li>
      </ul>
    </div>
  </div>
</header>-->
<header ng-controller="headerctrl" >
    <div class="heads">
        <div class="container">
    <nav class="navs clearfix">
         <a class="pull-left log" ui-sref="home">
        <img src="img/homenew/logos.png" alt="">
      </a>
      <ul class="list-inline pull-right">
          <li>
<a href="" class="uppercases">work</a>
          </li>
          <li>
<a ui-sref="aboutus" target="_blank" class="uppercases">about us</a>
          </li>
          <li>
<a ui-sref="contactus" target="_blank" class="uppercases">contact</a>
          </li>
      </ul>
    </nav>
       <!--<div class="navbar-toggle humburger">
        <button type="button" class="navbar collapsed " ng-click="getnav();">
           <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar {{onebar}}"></span>
          <span class="icon-bar {{secondbar}}"></span>
          <span class="icon-bar {{thirdbar}}"></span>
        </button>
      </div>-->
</div>
    </div>

 </header>
