<div class="menu-made">
  <div class="close-right float-left" ng-click="getnav();">
    <img src="img/cancel.png" alt="">
  </div>
  <a class="text-center" ui-sref="home">
    <img src="img/logo.png" alt="">
  </a>
  <div class="section-center">
    <ul class="list-unstyled nav-custom text-center">
      <li ng-repeat="menu in navigation" class="{{menu.classis}}">
        <a ui-sref="{{menu.anchor}}" ng-if="menu.anchor">{{menu.name}}</a>
        <a href="{{menu.link}}" ng-if="menu.link">{{menu.name}}</a>
        <!-- <ul class="dropdown-menu list-unstyled" ng-if="menu.subnav!='';">
      <li ng-repeat="submenu in menu.subnav">
        <a ui-serf="{{submenu.anchor}}" ng-if="submenu.anchor">{{submenu.name}}</a>
        <a herf="{{submenu.link}}" ng-if="submenu.link">{{submenu.name}}</a>
      </li>
    </ul> -->
      </li>
    </ul>
  </div>
</div>
